@import "../../Variables-scss/Variables.scss";

.text {
  position: absolute;
  z-index: 2;
  top: 232px;
  left: 80px;

  .weAre {
    width: 336px;
    height: 168px;
    left: 0px;
    top: 0px;
    font-family: $fontbody;
    color: $negro_toroto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
  }

  .lorem {
    width: 336px;
    height: 120px;
    margin-top: 16px;
    font-family: $fontbody;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #333333;
  }

  .propose {
    text-align: center;
    width: 336px;
    height: 48px;
    margin-top: 32px;
    background: $negro_toroto;
    border-radius: 5px;
    color: $blanco-toroto;
    font-family: $fontbody;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    border: none;
  }
}

.go-down {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 2;
  top: 660px;
  flex-direction: column;
  align-items: center;
}

.see {
  font-family: $font-Oswaldo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #333333;
}
.arrow-down {
  background: none;
  border: none;
}
@include media-up(lg) {
  .text {
    display: flex;
    margin-top: 60px;
    left: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: white;
    flex-direction: column;
    align-items: center;

    .weAre {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      height: auto;
      margin-top: 35px;
    }
    .lorem {
      font-size: 12px;
      line-height: 14px;
      height: auto;
    }
    .propose{
      margin-top: 16px;
    }
  }
  .go-down {
    position: initial;
    margin-top: 210px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
