//colors
$azul-toroto:  rgba(26, 48, 219, 1);
$blanco-toroto:  rgba(255, 255, 255, 1);
$negro_toroto: rgba(55, 55, 55, 1);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
$fontbody: 'Roboto';