//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//fonts
$fontbody: 'Roboto';
$font-Oswaldo: 'Oswald', sans-serif;
//colors
$azul-toroto:  rgba(26, 48, 219, 1);
$blanco-toroto:  rgba(255, 255, 255, 1);
$negro_toroto: rgba(55, 55, 55, 1);
$gris_1: rgba(51, 51, 51, 1);
$gris_5: rgba(242, 242, 242, 1);
//tag
@mixin tag {
    padding: 2px 10px;
    display: flex;
    text-align: initial;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    border: 1px solid $negro_toroto;
    margin-right: 6px;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: $fontbody;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: $negro_toroto;
    overflow:hidden;
    list-style:none;
}
@mixin button-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 48px;
    padding: 16px 24px;
    margin: 32px;
    font-family: $fontbody;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $negro_toroto;
    background: none;
    border: 1px solid $negro_toroto;
    box-sizing: border-box;
    border-radius: 5px;  
}

@mixin tittle {
       font-family: $fontbody;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: $negro_toroto;
    
}
@mixin subTittle {
    font-family: $fontbody;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $gris_1;
    letter-spacing: 0.18px;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
