@import '../../Variables-scss/Variables.scss';

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    //width: 100%;
    padding: 0px 200px 0px 200px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: $azul-toroto;
    
    ul {
        padding: 0px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    button{
        position: static;
        width: 114px;
        height: 32px;
        top: 0px;
        background-color: $blanco-toroto;
        border-radius: 10px;
        border-style: none;
        color: $negro_toroto;
    }
}
.navbar {
    color: $blanco-toroto;
    font-family: $fontbody;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: center;
}

.App-logo{
    left: 0.24%;
    right: 0.21%;
    top: 31.03%;
    bottom: 30.62%;
    margin-right: 200px; 
}

.meta{
   display: flex;
   align-items: center;

   img{
      height: 15px;
      width: 15px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(100%) contrast(104%);
   }
}